<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
        </button>
        <h6 class="header-logo" routerLink="/">Github Search</h6>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
         
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>




