
<div class="container w3-content w3-center" style="margin-top: 200px;">
    <div class="row">             

        <div class="col-md-5 w3-center" > 
            <nb-form-field>
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input #user_input id="user_input" type="text" nbInput placeholder="Start typing Username">
            </nb-form-field>
            
            <app-search-results-list [users]="this.users"></app-search-results-list>
        </div>
    </div>
  </div>